.admin_top{
    height: 70px;
    background: #1cc09f;
    text-align: right;
    padding-right: 70px;
    color: white;
    position: relative;
}

.admin_top span{
    position: absolute;
    right: 10px;
    top: 30px;

}
.admin_top img{
    margin-top: 20px;
}
.admin_top .top_left{
    width: 250px;
    height: 70px;
    background:black;
    float: left;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    font-size: 20px;

}
.admin_top .top_left:hover{
    background: #000;
}