<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
</head>
<body>

<div class="main_top">
    <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">添加商品</strong><small></small></div>
    </div>
    <hr>

    <form id="goodsAddForm" enctype="multipart/form-data" th:method="post" action="/admin/goods/save" class="edit_content">

        <div class="item1">
            <div>
                <span>商品名称：</span>
                <input name="name" type="text" class="am-form-field" >&nbsp;&nbsp;
            </div>
            <div>
                <span>商品价格：</span>
                <input name="price" type="text" class="am-form-field" >
            </div>

        </div>

        <div class="item1">
                <span>所属分类：</span>
                 <select id="category_select" name="categoryId">&nbsp;&nbsp;
                    <option  th:value="${category.id}"  th:text="${category.name}" th:each="category:${categoryList}">所属分类</option>
                 </select>
        </div>

        <div class="item1">
                <span>商品图片：</span>
                <input type="file" name="upload" id="upload"/>
        </div>
        
        <div class="item1 item_desc">
            <span>商品描述：</span>
            <textarea name="describe"  id="desc" rows="4" cols="50"></textarea>
        </div>
        <button class="am-btn am-btn-default" type="button" id="add">添加</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="am-btn am-btn-default" type="button" id="reset">重置</button>
    </form>


</div>

<script th:src="@{/js/jquery.min.js}"></script>

<script>
    $("#add").click(function () {
        $("#goodsAddForm").submit();
    });
    
    $("#reset").click(function () {
       $(window).attr('location','edit.jsp');
    });
</script>
</body>
</html>