<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/top.css}"></link>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/css/pageStyle.css}">
    <link rel="stylesheet" th:href="@{/css/left.css}"></link>
</head>
<body>
<header>
    <div class="admin_top">
        <div class="top_left">
            码蚁商城
        </div>
        <div class="h_top_right">
            <img th:src="@{images/user_icon.png}" alt="">
            <span>码蚁小强</span>
        </div>
    </div>
    
    </div>
</header>
<div id="left" style="width: 250px;background-color: #283643; height: 900px;float: left;">
    <ul class="left_ul">
        <li class="left_li"><a class="left_a" th:href="@{/category}"><i></i>分类管理</a></li>
        <li class="left_li"><a class="left_a" th:href="@{/goods}"><i></i>商品管理</a></li>
        <li class="left_li"></i><a class="left_a" th:href="@{/user}"><i></i>用户管理</a></li>
    </ul>
</div>
<div id="main" style="width: 1080px;float: right">
    <div class="main_top">
        <div class="am-cf am-padding am-padding-bottom-0">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">商品管理</strong><small></small></div>
        </div>
        <hr>
        <div class="am-g">
            <div class="am-u-sm-12 am-u-md-6">
                <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                        <button id="add" class="am-btn am-btn-default">
                            <span class="am-icon-plus"></span> 新增</button>
                    </div>
                </div>
            </div>
            <div class="am-u-sm-12 am-u-md-3">
    
            </div>
            <div class="am-u-sm-12 am-u-md-3">
                <div class="am-input-group am-input-group-sm">
                    <input type="text" class="am-form-field" id="input_search">
                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" id="input_search_btn">搜索</button>
                    </span>
                </div>
            </div>
        </div>
    
    
    
    </div>
    <div class="goods_list">
        <ul class="title_ul">
            <li>序号</li>
            <li>商品图片</li>
            <li>商品名称</li>
            <li>商品价格</li>
            <li>编辑</li>
            <li>删除</li>
        </ul>
    
        <ul class="list_goods_ul" th:each="goods:${goodList}">
            <li th:text="${goodsStat.index+1}">01</li>
            <li><img th:src="@{'/images/'+${goods.img}}" alt=""></li>
            <li th:text="${goods.name}">商品名称</li>
            <li th:text="${goods.price}">商品价格</li>
            <li><a href="#"><img class="img_icon" th:src="@{/images/edit_icon.png}" alt=""></a></li>
            <li><a href="#"><img class="img_icon" th:src="@{/images/delete_icon.png}" alt=""></a></li>
        </ul>
        <!--分页-->
        <div id="page" class="page_div">aaa</div>
    </div>
      
    
</div>



<script th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/paging.js}"></script>
<script>
    //分页
    $("#page").paging({
        pageNo:5,
        totalPage: 10,
        totalSize: 300,
        callback: function(num) {
            alert(num);
        }
    });

    $("#add").click(function () {
        $(window).attr('location','/addgoods');
    });

    $(function () {
        $('#add').click(function () {
            $("#modal_view").fadeIn();
            $("#modal_content").fadeIn();
        });

        $("#close").click(function () {
            $("#modal_view").fadeOut();
            $("#modal_content").fadeOut();
        });
    });
</script>
</body>
</html>